<div class="container" [style]="creationTailleGrille()">
  @for (case of grille(); track case.id) {
  <div class="bloc" [ngStyle]="{'background-color': case.color, 'width': creationTailleBloc(), 'height': creationTailleBloc()}" (click)="selectCase(case)"></div>
  }
</div>

@if(grilleComplete()) {
  <div class="pyro">
    <div class="texte">
      <span>Bravo ! tu as gagné, tu es devenu un super héro !!</span>
      <button mat-raised-button color="accent" routerLink="">Retour à l'accueil</button>
    </div>
    <div class="before"></div>
    <div class="after"></div>
  </div>
}