<div class="container">

  <h1 class="title" routerLink=""><span class="accent">F</span>lood <span class="accent">I</span>t</h1>

  <div class="block">
    <span class="label">Nombre coups</span>
    <span class="value">{{numberClick()}}</span>
  </div>

  <div class="block">
    <span class="label">Temps écoulé</span>
    <span class="value">{{formatTimer()}}</span>
  </div>

</div>
