.container {
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
  width: 100vw;

  h1 {
    &:hover {
      cursor: pointer;
    }
  }

  .block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 15vw;
    background-color: rgb(44, 44, 44);
    border-radius: 5px;

    .label {
      font-size: 1.2em;
    }

    .value {
      font-size: 2.2em;
    }
  }
}
