
<div class="container">
  <h2>Choix de la couleur</h2>
  @for (couleur of listeCouleur; track couleur) {
    <div class="color" [ngStyle]="{'background-color': couleur}" (click)="selectColor(couleur)" [ngClass]="classColorSelected(couleur)"></div>
  }
</div>