.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 20vw;
  height: 70vh;
  background-color: rgb(44, 44, 44);
  border-radius: 5px;

  .color {
    width: 10vw;
    height: 5vh;
    border-radius: 5px;
    margin: 5px;

    &:hover {
      cursor: pointer;
    }
  }

  .selected {
    animation: agrandir 0.2s linear forwards;
  }

}

@keyframes agrandir {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.2);
  }
}