/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; background-color: black; color: white; overflow: hidden;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@font-face {
  font-family: 'text-title';
  src: local("text-title"), url(assets/03.ttf);
}

.title {
  font-family: 'text-title';
}

.accent {
  color: #ff4081;
}