<div class="container">
  <h1 class="title"><span class="accent">F</span>lood <span class="accent">I</span>t</h1>

  <div class="buttons">
    @for (button of listeDifficulte; track button) {
      <button mat-raised-button color="accent" routerLink="game" (click)="select(button.x, button.y)">{{button.label}}</button>
    }

  </div>
</div>