.container {
  width: 100vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  h1 {
    color: white;
    font-size: 7em;
  }

  .buttons {
    width: 50vw;
    display: flex;
    justify-content: space-around;

    button {
      font-size: 2em;
      padding: 10px;
    }
  }
}